{{ define "main" }}
<h1>{{ .Title }}</h1>

<font size="6">
<p style="color:green";><u>Upcoming Events</p></u>
</font>
There is currently no event scheduled for the upcoming weeks. Please visit again for the update and list of the events. 

<ul>
{{ $pages := .Pages }}
{{ range first 10 (where .Pages "Type" "postevent") }}
  <li>
    <a href="{{ .Permalink }}">
      {{ .Title }}
    </a>
  </li>
  <div class="clearfix">
      <div class="post-date pull-left">
        <span class="li-small">
           <small>{{ "Posted on " }}
           {{ $dateFormat := $.Site.Params.dateFormat | default "Jan 2, 2006" }}
           {{ .PublishDate.Format $dateFormat }}</small>
        </span>
      </div>
    </div>
  {{ .Summary }}<a href='{{ .RelPermalink }}'>&hellip; read more</a>
  <br>
  <br>
{{ end }}
</ul>


<hr>

<br>

<font size="6">
<p style="color:green";><u>Past Events</p></u>
</font>


<ul>
{{ $pages := .Pages }}
{{ $paginator := .Paginate (where .Pages "Type" "preevent") }}
{{ range .Paginator.Pages}}
  <li>
    <a href="{{ .Permalink }}">
      {{ .Title }}
    </a>
  </li>
  <div class="clearfix">
      <div class="post-date pull-left">
        <span class="li-small">
           <small>{{ "Posted on " }}
           {{ $dateFormat := $.Site.Params.dateFormat | default "Jan 2, 2006" }}
           {{ .PublishDate.Format $dateFormat }}</small>
        </span>
      </div>
    </div>
  {{ .Summary }}<a href='{{ .RelPermalink }}'>&hellip; read more</a>
  <br>
  <br>
{{ end }}
{{partial "pagination.html" .}}
</ul>

{{ end }}

